:root {
  --svg-color: #ef5a6f;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.entry {
  display: flex;
  background-color: #444;
  padding: 15px;
  border-radius: 5px;
}
.wordInput {
  font-size: 1em;
  background-color: transparent;
  border: none;
  color: #d3d3d3;
  outline: none;
  caret-color: #ef5a6f;
  transition: all 0.5s;
}

.wordInput:focus::placeholder {
  color: transparent;
}
.button {
  background-color: transparent;
  border: none;
  color: #d3d3d3;
  cursor: pointer;
}

.btn-svg svg {
  height: 20px;
  width: 20px;
  transition: all 0.5s;
}

.wordInput:focus ~ .button .btn-svg svg {
  color: var(--svg-color);
  fill: var(--svg-color);
}
.button:hover .btn-svg svg {
  fill: var(--svg-color);
  color: var(--svg-color);
}

.result {
  position: absolute;
  bottom: -90%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #d3d3d3;
  animation: fadeIn 0.5s ease;
}

.result::before {
  content: "";
  position: relative;
  left: -10px;
  padding: 15px 1px;
  border-radius: 10px;
  background-color: white;
  animation: grow 0.5s ease;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.invalid {
  border: 1px solid var(--svg-color);
  animation: invalid-entry 0.5s ease-out;
}

@keyframes invalid-entry {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid var(--svg-color);
  }
}

.invalid-input {
  position: absolute;
  bottom: -90%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #d3d3d3;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}

.invalid-input::before {
  content: "";
  position: relative;
  padding: 15px 1px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: var(--svg-color);
  animation: grow 0.5s ease;
}

.hide {
  position: absolute;
  bottom: -90%;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #d3d3d3;
  font-weight: bold;
  opacity: 0;
  animation: fadeOut 0.5s ease;
}

.hide::before {
  content: "";
  position: relative;
  padding: 15px 1px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: var(--svg-color);
  animation: grow 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
